/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");

/* CSS Variables */
:root {
  --primary-color-red: #ea5353;
  --primary-color-cyan: #45d3d3;
  --primary-color-orange: #fcaf4a;
  --primary-color-blue: #549ef2;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
  line-height: 1.4;
}

/* Header */
#header {
  margin: 50px auto;
  max-width: 500px;
  text-align: center;
}

#header h1 {
  font-weight: 200;
  margin: 0;
}

#header h1 span {
  font-weight: 600;
}

#header p {
  color: hsl(229, 6%, 66%);
}

/* Showcase */
.showcase-container {
  display: flex;
  max-width: 1120;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.showcase-container p {
  font-weight: 400;
  font-size: 14px;
  color: hsl(229, 6%, 66%);
  margin: 15px 0 40px;
}

.showcase-container .box {
  width: 300px;
  margin: 15px;
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.showcase-container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.showcase-container .box-cyan::after {
  background-color: var(--primary-color-cyan);
}

.showcase-container .box-red::after {
  background-color: var(--primary-color-red);
}

.showcase-container .box-orange::after {
  background-color: var(--primary-color-orange);
}

.showcase-container .box-blue::after {
  background-color: var(--primary-color-blue);
}

.showcase-container .box-push {
  transform: translateY(50%);
}

.showcase-container .box h2 {
  margin: 0;
}

.showcase-container .box img {
  display: block;
  margin-left: auto;
}

/* Footer */
footer {
  text-align: center;
}

/* Media queries */
@media (max-width: 775px) {
  .box-push {
    transform: translateY(0);
  }
}
